body {
  background: black;
  color: white;
  font-size: 16px;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 30px;
}

.container p, .container h1 {
  padding-left: 30px;
  text-align: start;
  font-weight: 700;
}

.movieCard {
  background-color: aqua;
  width: 66%;
  margin: 10px auto;
}

img {
  display: flex;
  max-width: 100%;
  width: 300px;
  align-items: flex-start;
}
